<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="x" value= "0" />
    <add key="y" value= "0" />
    <add key="linesCount" value= "20" />
    <add key="windowHeight" value= "40" />
    <add key="dictionary" value="resources\\dict.txt" />
    <add key="letterSymbol" value= "*" />
    <add key="verticalSymbol" value= "|" />
    <add key="horizontalSymbol" value= "=" />
  </appSettings>
</configuration>